.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.projects__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15vh;
    margin: 0 10vh;
}

.card {
    border: 2px solid green;
    padding: 2vh;
}