$bleu-fonce : #154975;
$vert-fonce : rgb(90, 131, 88);
$vert : rgb(94, 194, 97);
$vert-clair : #DBF9D8;

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $vert-clair;
}

.about h2 {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.about__descrption {
    margin: 5vh;
    padding: 5vh;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    line-height: 4vh;
}