$vert-fonce : #5A8358;
$vert : #5EC261;
$vert-clair : #DBF9D8;

.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;

    @media screen and (max-width:920px) {
        padding-top: 0;
        padding-bottom: 4vh;
    }
}

.contact__container h2 {
    padding-bottom: 5vh;

    @media screen and (max-width:560px) {
        padding-bottom: 1vh;
    }
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 5vh;

    @media screen and (max-width : 920px) {
        padding-top: 0;
        flex-direction: column-reverse;
        gap: 5vh;
        width: auto;
    }

    @media screen and (max-width : 560px) {
        gap: 2vh;
    }
}

.contact__form {
    display: flex;
    flex-direction: column;
    padding-right: 15vh;
    height: auto;
    width: auto;

    @media screen and (max-width : 920px) {
        padding: 0;
    }
}

.contact__form button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background-color: $vert-fonce;
    cursor: pointer;
}

.contact__form button:active {
    border: 2px solid black;
    background-color: bisque;
}

.contact__form label {
    margin-bottom: 5px;
}

#name,
#email,
#message {
    border-radius: 0px 5px 5px 5px;
    box-shadow: 2px 2px 2px 2px $vert-fonce;

    border: 0;
    width: 20em;
    margin-bottom: 5px;
}

#name,
#email {
    height: 2em;
}

#message {
    height: 10em;
}

.contact__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid;
    padding-left: 10vh;

    @media screen and (max-width : 920px) {
        padding-bottom: 4vh;
        padding-left: 0;
        border-left: 0;
        border-bottom: 1px solid;
    }

    @media screen and (max-width:560px) {
        >p {
            margin: 0.5vh;
        }
    }
}

.moncv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 3px solid $vert-fonce;
    background-color: $vert-clair;
    border-radius: 35px;
    padding: 1.5vh;
    margin-top: 3vh;

    @media screen and (max-width:920px) {
        border-radius: 45px;
        padding: 1vh 2vh;
        margin-top: 1vh;
    }

    @media screen and (max-width:560px) {
        border: 2px solid black;
    }
}

.moncv img {
    height: 5vh;
}