.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    background-color: rgb(240, 255, 234);
    margin-top: 10vh;
    padding: 5vh 0vh;
}

.contact__container h2 {
    padding-bottom: 5vh;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 8vh;
}

.contact__form {
    display: flex;
    flex-direction: column;
    padding-right: 15vh;
    height: auto;
    width: auto;
}

.contact__form button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
}

.contact__form button:active {
    border: 2px solid black;
    background-color: bisque;
}

.contact__form label {
    margin-bottom: 5px;
}

#name,
#email,
#message {
    border-radius: 0px 5px 5px 5px;
    border: 0;
    width: 20em;
    margin-bottom: 5px;
}

#name,
#email {
    height: 2em;
}

#message {
    height: 10em;
}

.contact__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid;
    padding-left: 10vh;
}

.moncv {
    display: flex;
    align-items: center;
    gap: 1vh;
    border: 3px solid black;
    border-radius: 35px;
    background-color: rgb(240, 255, 234);
    padding: 1.5vh;
    margin: 3vh;
}

.moncv img {
    height: 5vh;
}