.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 80px;
    padding: 20px;

    &__logo {
        width: 100vh;
    }

    &__socials {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150vh;
        gap: 10vh;
    }
}

.footer__socials img {
    width: 80px;
}