$bleu-fonce : rgb(21, 73, 117);
$vert-fonce : rgb(90, 131, 88);
$vert : #5EC261;
$vert-clair : #DBF9D8;

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 80px;
    padding: 20px;
    background-color: rgba(90, 131, 88, 0.8);

    @media screen and (max-width: 560px) {
        justify-content: center;
    }

    &__logo {
        margin: 20px;

        @media screen and (max-width: 560px) {
            display: none;
        }
    }

    &__socials {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10vh;
        margin: 0px 20px;
    }
}

.socials__logo {
    font-size: 40px;

    &:hover {
        filter: drop-shadow(2px 4px 6px white);
    }
}