$bleu-fonce : #154975;
$vert-fonce : rgb(90, 131, 88);
$vert : rgb(94, 194, 97);
$vert-clair : #DBF9D8;

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0vh;
    background-color: rgba(90, 131, 88, 0.8);
}

.projects__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vh;
    margin: 0 10vh;

    @media screen and (max-width : 920px) {
        display: flex;
        flex-direction: column;
    }
}

.card {
    position: relative;
    display: flex;

    h3 {
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1;
        text-transform: uppercase;
    }

    h3,
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    span {
        height: 100%;
    }

    img {
        object-fit: cover;
        box-shadow: 5px 5px 15px 3px $bleu-fonce;
    }

    img,
    span {
        width: 100%;
        border-radius: 0vh 5vh 5vh 5vh;
    }

    &:hover h3 {
        font-size: 45px;
        opacity: 1;
        border-radius: 0vh 5vh 5vh 5vh;
    }

    &:hover span {
        background-color: rgb(219, 249, 216, 0.7);
    }
}