$bleu-fonce : rgb(21, 73, 117);
$vert-fonce : rgb(90, 131, 88);
$vert : rgb(94, 194, 97);
$vert-clair : rgb(219, 249, 216);

.card__container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(219, 249, 216, .8), rgb(219, 249, 216, 0.3)), url('https://cdn.pixabay.com/photo/2015/08/30/07/38/vintage-913891_640.jpg');
    background-size: cover;
    padding: 20vh 20vh 10vh 20vh;

    @media screen and (max-width:920px) {
        justify-content: space-evenly;
        padding: 10vh 5vh 0vh 5vh;
        height: 100%;
    }

    @media screen and (max-width: 560px) {
        padding: 10vh 3vh 0vh 3vh;

        h3 {
            padding-bottom: 0;
        }
    }

    h3 {
        text-align: center;
        padding-bottom: 4vh;
    }
}

.card__description {
    line-height: 3vh;
    text-align: justify;
}

.card__skills {
    display: flex;
    justify-content: center;
    gap: 3vh;
    margin: 2vh 0vh;
    flex-wrap: wrap;

    @media screen and (max-width: 560px) {
        margin: 0;
    }
}

.skill {
    margin: 0;
    padding: 1vh 2vh;
    background-color: $vert-clair;
    border-radius: 1vh;
    text-align: center;
    text-transform: uppercase;
}

.card__responsive {
    margin: 4vh 0vh;

    @media screen and (max-width: 920px) {
        display: none;
    }
}

.test {
    height: 70vh;
    position: relative;
}

.desk,
.tab,
.mobile {
    height: 450px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px 3px rgba(90, 131, 88, 0.6);
    border: 1vh solid $vert-clair;
    border-radius: 5vh;
}

.desk {
    position: relative;
    left: 10vh;
    width: 780px;
}

.tab {
    position: absolute;
    left: -10vh;
    top: 10vh;
    width: 318px;
}

.mobile {
    position: absolute;
    top: 20vh;
    left: 20vh;
    width: 216px;
}

.card__link {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10vh;

    @media screen and (max-width: 560px) {
        padding-top: 0;
    }

    a {
        border: 1vh solid $vert-clair;
        border-radius: 4vh;
        padding: 2vh;
    }

    a:hover {
        border: 1vh solid $vert-fonce;
        background-color: $vert-clair;
    }
}