$vert-fonce : rgb(98, 108, 85);
$vert : rgb(157, 164, 142);
$beige: rgb(245, 245, 245);
$rouge: #BC4749;

@mixin degrade {
    background: linear-gradient(to top, $vert, $beige);
}

.card__container {
    @include degrade;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 20vh 20vh 10vh 20vh;

    @media screen and (max-width:920px) {
        justify-content: space-evenly;
        padding: 10vh 5vh 0vh 5vh;
        height: 100%;
    }

    @media screen and (max-width: 560px) {
        padding: 10vh 3vh 0vh 3vh;

        h3 {
            padding-bottom: 0;
        }
    }

    h3 {
        text-align: center;
        padding-bottom: 4vh;
    }
}

.card__description {
    line-height: 3vh;
    text-align: justify;
}

.card__skills {
    display: flex;
    justify-content: center;
    gap: 3vh;
    margin: 2vh 0vh;
    flex-wrap: wrap;

    @media screen and (max-width: 560px) {
        margin: 0;
    }
}

.skill {
    margin: 0;
    padding: 1vh 2vh;
    background-color: $rouge;
    color: $beige;
    font-weight: bold;
    border-radius: 1vh;
    text-align: center;
    text-transform: uppercase;
}

.card__responsive {
    margin: 4vh 0vh;

    @media screen and (max-width: 920px) {
        display: none;
    }
}

.test {
    height: 70vh;
    position: relative;
}

.desk,
.tab,
.mobile {
    height: 450px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px 3px $vert-fonce;
    border: 1vh solid;
    border-radius: 5vh;
}

.desk {
    position: relative;
    left: 10vh;
    width: 780px;
}

.tab {
    position: absolute;
    left: -10vh;
    top: 10vh;
    width: 318px;
}

.mobile {
    position: absolute;
    top: 20vh;
    left: 20vh;
    width: 216px;
}

.card__link {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10vh;

    @media screen and (max-width: 560px) {
        padding-top: 0;
    }

    a {
        border: 1vh solid;
        border-radius: 4vh;
        padding: 2vh;
    }

    a:hover {
        background-color: $beige;
    }
}