$vert-fonce : rgb(98, 108, 85);
$vert : rgb(157, 164, 142);
$beige: #f5f5f5;
$rouge: #BC4749;

.banner__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: (0% 10% 100% 0% / 0% 0% 60% 10%);

    @media screen and (max-width:920px) {
        border-radius: 0;
        text-align: center;
    }
}

.banner {
    padding: 0vh 4vh;
}