$bleu-fonce : #154975;
$vert-fonce : rgb(90, 131, 88);
$vert : rgb(94, 194, 97);
$vert-clair : #DBF9D8;

.banner__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    border-radius: (0% 10% 100% 0% / 0% 0% 60% 10%);

    @media screen and (max-width:920px) {
        border-radius: 0;
        text-align: center;
    }
}

.banner {
    padding: 0vh 4vh;
}

span {
    font-weight: 900;
    color: #34825f;
    text-shadow: #6e0000 2px 2px 2px;
}